In [1]:
# Import relevant libraries

from bs4 import BeautifulSoup as bs
import requests
import smtplib
import time
import datetime

import pandas as pd

from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
s = Service(ChromeDriverManager().install())

In [55]:
driver = webdriver.Chrome(service=s)


driver.maximize_window()
driver.get("https://www.kayak.com/flights/AUS-RNO/2022-12-21/2022-12-30?sort=bestflight_a")

time.sleep (10)

testcost = driver.find_elements(By.CLASS_NAME, "price-text")
testflightdata = driver.find_elements(By.CLASS_NAME, "top")
testflightdata2 = driver.find_elements(By.CLASS_NAME, "bottom")

dataff = []
totime =[]
fromtime = []
tostop = []
fromstop = []

costclean = []
for values in testcost:
    costclean.append(values.text)
costclean = [i for i in costclean if i]
#del costclean[1:6]    

for values in testflightdata:
    dataff.append(values.text)
totime = dataff[3:127:8]    
fromtime = dataff[7:127:8]
tostop = dataff[2:127:8]
fromstop = dataff[6:127:8]

airportdest = []
totimeclean = []
for values in totime:
    hrs = int(values[0:1])*60
    minu = int(values[3:5])
    totimeclean.append(hrs + minu)
    airportdest = values

fromtimeclean = []
for values in fromtime:
    hrs = int(values[0:1])*60
    minu = int(values[3:5])
    fromtimeclean.append(hrs + minu)
    
tostopclean = []
for values in tostop:
    if values == "nonstop":
        tostopclean.append(0)
    else:
        tostopclean.append(values[0])
#del tostopclean[1]
        
fromstopclean = []
for values in fromstop:
    if values == "nonstop":
        fromstopclean.append(0)
    else:
        fromstopclean.append(values[0])
#del fromstopclean[1]

flightdatatest = []
for values in testflightdata2:
    flightdatatest.append(values.text)
toairline = flightdatatest[0:95:6]
fromairline = flightdatatest[3:95:6]
#del toairline[1]
#del fromairline[1]


driver.quit()

In [56]:
print(len(costclean),len(totimeclean),len(fromtimeclean),len(tostopclean),len(fromstopclean),len(toairline),len(fromairline))

16 16 15 16 16 16 16

In [64]:
costclean = costclean[0:15]
totimeclean = totimeclean[0:15]
tostopclean = tostopclean[0:15]
fromstopclean = fromstopclean[0:15]
toairline = toairline[0:15]
fromairline = fromairline[0:15]

In [65]:
costclean

['$337',
 '$333',
 '$761',
 '$337',
 '$589',
 '$786',
 '$755',
 '$770',
 '$770',
 '$755',
 '$589',
 '$764',
 '$764',
 '$829',
 '$829']

In [66]:
#cols = ['Cost','Duration AUS-RNO','Duration RNO-AUS','Stops AUS-RNO','Stops RNO - AUS','toairline','fromairline']      
d = {'cost': costclean,
     'Duration AUS-RNO': totimeclean,
     'Duration RNO-AUS': fromtimeclean,
     'Stops AUS-RNO': tostopclean,
     'Stops RNO-AUS': fromstopclean,
     'Airline AUS-RNO': toairline,
     'Airline RNO-AUS': fromairline
    }
XMAS = pd.DataFrame(d)
print(XMAS)

    cost  Duration AUS-RNO  Duration RNO-AUS Stops AUS-RNO Stops RNO-AUS  \
0   $337               330               281             1             1
1   $333               330               281             1             1
2   $761               227               207             0             0
3   $337               484               281             1             1
4   $589               330               207             1             0
5   $786               227               207             0             0
6   $755               227               269             0             1
7   $770               303               207             1             0
8   $770               303               207             1             0
9   $755               227               361             0             1
10  $589               484               207             1             0
11  $764               303               269             1             1
12  $764               303               269             1             1
13  $829               227               328             0             1
14  $829               227               330             0             1

      Airline AUS-RNO    Airline RNO-AUS
0     Spirit Airlines    Spirit Airlines
1     Spirit Airlines    Spirit Airlines
2   American Airlines  American Airlines
3     Spirit Airlines    Spirit Airlines
4     Spirit Airlines    Alaska Airlines
5     Alaska Airlines    Alaska Airlines
6   American Airlines  American Airlines
7   American Airlines  American Airlines
8   American Airlines  American Airlines
9   American Airlines  American Airlines
10    Spirit Airlines    Alaska Airlines
11  American Airlines  American Airlines
12  American Airlines  American Airlines
13  American Airlines  American Airlines
14  American Airlines  American Airlines

In [76]:
zmas = XMAS[(XMAS['Stops AUS-RNO']==0) & (XMAS['Stops RNO-AUS']==0)]
zmas

,cost,Duration AUS-RNO,Duration RNO-AUS,Stops AUS-RNO,Stops RNO-AUS,Airline AUS-RNO,Airline RNO-AUS
2,$761,227,207,0,0,American Airlines,American Airlines
5,$786,227,207,0,0,Alaska Airlines,Alaska Airlines